In [1]:
import numpy as np
import pandas as pd

In [5]:
from numpy.random import randn
np.random.seed(120)

In [6]:
df = pd.DataFrame(randn(5, 4), ['a', 'b', 'c', 'd', 'e'], ['w', 'x', 'y', 'z'])

In [7]:
df

          w         x         y         z
a  0.147450  2.024840 -0.426880  2.310290
b  0.628660 -0.055411 -1.319863  0.405072
c -0.185505 -0.101672  1.328715  0.892572
d  0.417491 -0.137413 -0.769679  0.078486
e -0.348003 -0.427171  3.208293  0.501048

In [8]:
df['w']

a    0.147450
b    0.628660
c   -0.185505
d    0.417491
e   -0.348003
Name: w, dtype: float64

In [9]:
type(df['w'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df['new'] = df['x'] + df['z']

In [12]:
df

          w         x         y         z       new
a  0.147450  2.024840 -0.426880  2.310290  4.335131
b  0.628660 -0.055411 -1.319863  0.405072  0.349660
c -0.185505 -0.101672  1.328715  0.892572  0.790899
d  0.417491 -0.137413 -0.769679  0.078486 -0.058927
e -0.348003 -0.427171  3.208293  0.501048  0.073877

In [18]:
df.drop('new', axis=1, inplace=True)

In [19]:
df

          w         x         y         z
a  0.147450  2.024840 -0.426880  2.310290
b  0.628660 -0.055411 -1.319863  0.405072
c -0.185505 -0.101672  1.328715  0.892572
d  0.417491 -0.137413 -0.769679  0.078486
e -0.348003 -0.427171  3.208293  0.501048

In [20]:
df.loc['c']

w   -0.185505
x   -0.101672
y    1.328715
z    0.892572
Name: c, dtype: float64

In [21]:
df.iloc[2]

w   -0.185505
x   -0.101672
y    1.328715
z    0.892572
Name: c, dtype: float64

In [27]:
df.shape

(5, 4)

In [30]:
df.loc[['a', 'b'], ['w', 'z']]

         w         z
a  0.14745  2.310290
b  0.62866  0.405072

In [31]:
df > 0

       w      x      y     z
a   True   True  False  True
b   True  False  False  True
c  False  False   True  True
d   True  False  False  True
e  False  False   True  True

In [32]:
booldf = df > 0

In [33]:
df[booldf]

          w        x         y         z
a  0.147450  2.02484       NaN  2.310290
b  0.628660      NaN       NaN  0.405072
c       NaN      NaN  1.328715  0.892572
d  0.417491      NaN       NaN  0.078486
e       NaN      NaN  3.208293  0.501048

In [36]:
df[df['w'] < 0]

          w         x         y         z
c -0.185505 -0.101672  1.328715  0.892572
e -0.348003 -0.427171  3.208293  0.501048

In [38]:
df[df['w'] > 0][['w', 'z']]

          w         z
a  0.147450  2.310290
b  0.628660  0.405072
d  0.417491  0.078486

In [41]:
df[(df['w'] > 0) | (df['y'] > 0)][['w', 'z']]

          w         z
a  0.147450  2.310290
b  0.628660  0.405072
c -0.185505  0.892572
d  0.417491  0.078486
e -0.348003  0.501048

In [43]:
newind = "CA NY WY OR CO".split()

In [44]:
df['States'] = newind

In [45]:
df.set_index('States')

               w         x         y         z
States
CA      0.147450  2.024840 -0.426880  2.310290
NY      0.628660 -0.055411 -1.319863  0.405072
WY     -0.185505 -0.101672  1.328715  0.892572
OR      0.417491 -0.137413 -0.769679  0.078486
CO     -0.348003 -0.427171  3.208293  0.501048